<% if flash[:notice] %>
<p class="text-center"><%= flash[:notice] %></p>
<% end %>

<h1 class="text-center">プログラマティック カタログ</h1>
<div class="col-md-9 offset-md-1">
<% @products.each do |product| %>
  <div class="entry">
<!--    画像ファイルにリンクを持たせる-->
    <%= link_to product_path(product) do%>
      <%= image_tag(product.image_url) %>
    <% end %>
<!--    ここまで-->

    <h3><%= product.title %></h3>
    <p class="description"><%= truncate(sanitize(product.description), length: 140) %></p>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price, :locale => 'jp') %></span>
      <%= button_to 'カートに入れる', line_item_path(product_id: product) %>
    </div>

  </div>
<% end %>
</div>